/*resources/scss/app.scss*/
@import "bootstrap/scss/bootstrap";
body{
    background-color: #303030;
}

.team-titan-img{
    background-image: url('../img/jumbotron.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 325px;
}

.btn-blue,
.btn-footer{
    font-size: 20px;
    padding: 10px;
    width: 200px;
    text-transform: uppercase;
    color: white;
}

.btn-blue{
    background-color: #0282f9;
    border: 0px;
}

.btn-footer{
    background-color: #ffffff00;
    border: 3px solid #0282f9;
}

.footer-img{
    background-image: url('../img/footer-bg.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    justify-content: center;
}

li{
    list-style-type: none;
}

h4{
    color: white;
    padding: 5px 0;
}
